<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">{{title}}</div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> Tambah Data</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="stock">Nama Paket/Tujuan</label>
                                            <div class="col-md-9">
                                                <input type="text" id="name" class="form-control border-primary"
                                                    placeholder="Paket liburan..." ngModel name="name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="stock">Stok Bus</label>
                                            <div class="col-md-9">
                                                <input type="number" id="stock" class="form-control border-primary"
                                                    placeholder="10" ngModel name="stock">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="priceId">Harga</label>
                                            <div class="col-md-9">
                                                <input type="number" id="priceId" class="form-control border-primary"
                                                    placeholder="350000" ngModel name="price">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Batal
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Simpan
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>