<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">{{title}}</div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="ft-info"></i> Tambah Transaksi
                                </h4>
                                <p><i>Untuk menghindari ketidaksinkronan data diharapkan untuk ubah data secara teliti,
                                        bila perlu hanya status transaksi saja yang di ubah</i></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer-name">Nama
                                                Pelanggan</label>
                                            <div class="col-md-9">
                                                <input type="text" required id="customer-name"
                                                    class="form-control border-primary" placeholder="Wahyudi..."
                                                    [ngModel]='rentalData.customerName' name="customerName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer-email">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" id="customer-email"
                                                    class="form-control border-primary" placeholder="(Opsional)"
                                                    [ngModel]='rentalData.customerEmail' name="customerEmail" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer-telp">No Telp</label>
                                            <div class="col-md-9">
                                                <input type="text" required id="customer-telp"
                                                    class="form-control border-primary" placeholder="082838xxxx"
                                                    [ngModel]='rentalData.customerTelp' name="customerTelp" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer-telp">Jenis
                                                Mobil</label>
                                            <div class="col-md-9">
                                                <input type="text" required id="customer-telp"
                                                    class="form-control border-primary" value="{{getDataByPlat(f)}}" />
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="platNo">No Kendaraan</label>
                                            <div class="col-md-9">

                                                <input type="text" readonly id="priceId"
                                                    class="form-control border-primary" placeholder="{{carModel}}"
                                                    [ngModel]='rentalData.carData.platNo' name="platNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="priceId">Harga (Rp.)</label>
                                            <div class="col-md-9">
                                                <input type="number" readonly id="priceId"
                                                    class="form-control border-primary" placeholder="250000"
                                                    [ngModel]='rentalData.carData.price' name="price" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="jml-hari">Jumlah Hari</label>
                                            <div class="col-md-9">
                                                <input type="number" required id="jml-hari"
                                                    class="form-control border-primary" [ngModel]='rentalData.duration'
                                                    name="duration" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="jml-jam">Jumlah Durasi</label>
                                            <div class="col-md-9">
                                                <select name="hours" required id="jml-jam"
                                                    class="form-control border-primary" [ngModel]='rentalData.hours'>
                                                    <option value="none" selected="" disabled="">Pilih durasi jam :
                                                    </option>
                                                    <option value="12">12 Jam</option>
                                                    <option value="24">24 Jam</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="agent-name">Agen</label>
                                            <div class="col-md-9">
                                                <input type="text" required id="agent-name"
                                                    class="form-control border-primary" value="Admin"
                                                    placeholder="Admin" [ngModel]='rentalData.agentName'
                                                    name="agentName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="tgl-berangkat">Tanggal
                                                Berangkat</label>
                                            <div class="col-md-9">
                                                <input type="date" required id="tgl-berangkat"
                                                    class="form-control border-primary" [ngModel]='rentalData.dateStart'
                                                    name="dateStart" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 required label-control" for="jam-berangkat">Jam
                                                Berangkat</label>
                                            <div class="col-md-9">
                                                <input type="time" id="jam-berangkat"
                                                    class="form-control border-primary" [ngModel]='rentalData.timeStart'
                                                    name="timeStart" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="status">Status</label>
                                            <div class="col-md-9">
                                                <select name="status" [ngModel]='rentalData.status' required id="status"
                                                    class="form-control border-primary" ngModel>
                                                    <option value="none" selected="" disabled="">Pilih status transaksi
                                                        : </option>
                                                    <option value="pending">Pending</option>
                                                    <option value="dibayar">Dibayar</option>
                                                    <option value="dibatalkan">Dibatalkan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Batal
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Simpan
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>