<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">{{title}}</div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> Edit Data</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">Nama Website:
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" class="form-control"
                                                    [ngModel]="serviceBody.titleApp" placeholder="The 8888"
                                                    name="titleApp">
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="col-md-3 label-control">Logo Website: </label>
                                            <div class="col-md-9">
                                                <label id="projectinput8" class="file  mx-auto">
                                                    <input type="file" [ngModel]="serviceBody.logoUrl" name="logoUrl"
                                                        id="file">
                                                    <span class="file-custom"></span>
                                                    : </label>
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">WhatsApp Utama:
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="628xxxxx" id="projectinput6"
                                                    class="form-control" [ngModel]="serviceBody.whatsappNum"
                                                    name="whatsappNum">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">WhatsApp Coach
                                                Bus: </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" placeholder="628xxxxx"
                                                    class="form-control" [ngModel]="serviceBody.whatsappNumCoachBus"
                                                    name="whatsappNumCoachBus">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">WhatsApp Rental:
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput7" placeholder="628xxxxx"
                                                    class="form-control" [ngModel]="serviceBody.whatsappNumRental"
                                                    name="whatsappNumRental">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" placeholder="628xxxxx"
                                                for="projectinput5">WhatsApp Travel:
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput8" class="form-control"
                                                    [ngModel]="serviceBody.whatsappNumTravel" name="whatsappNumTravel">
                                            </div>
                                        </div>
                                        <br>
                                        <label class="col-md-4">Settings Diskon
                                        </label>
                                        <br>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" placeholder="10000"
                                                for="projectinput5">Diskon Rental (Rp.):
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput8" class="form-control"
                                                    [ngModel]="serviceBody.diskonRental" name="diskonRental">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" placeholder="10000"
                                                for="projectinput5">Diskon Travel (Rp.):
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput8" class="form-control"
                                                    [ngModel]="serviceBody.diskonTravel" name="diskonTravel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" placeholder="10000"
                                                for="projectinput5">Diskon CoachBus (Rp.):
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput8" class="form-control"
                                                    [ngModel]="serviceBody.diskonCoachBus" name="diskonCoachBus">
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Batal
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Simpan
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>