<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
  <!-- <button (click)="testUsers()">Klik</button> -->
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">{{title}}</div>
      <button routerLink="/rental/add" class="btn btn-primary btn-fab mt-2"><i class="ft ft-plus"></i> Tambah</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <input type='text' style='padding:8px;margin:15px auto;width:40%;' placeholder='Cari berdasarkan no kendaraan...'
        (keyup)='updateFilter($event)' />
      <ngx-datatable #table class='bootstrap' [columns]="columns" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

        <ngx-datatable-column prop="platNo" name="No Kendaraan">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="carModel" name="Model">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price" name="Harga">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="manufacturer" name="Brand">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="stock" name="Stock">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value == 1 ? 'Tersedia':'Tidak Tersedia' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Aksi" sortable="false" prop="_id">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{column.name}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['edit',value]"><button class="btn btn-warning btn-fab mr-2">
                <i class="ft ft-edit"></i>
              </button></a>
            <button class="btn btn-danger btn-fab" (click)="onDelete(value)">
              <i class="ft ft-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</section>
<!-- Filter Datatable Options Ends -->