<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <!-- <button (click)="testUsers()">Klik</button> -->
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">{{title}}</div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="card gradient-ibiza-sunset">
                    <div class="card-content">
                        <div class="card-body pt-2 pb-2">
                            <div class="media">
                                <div class="media-body white text-left">
                                    <h3 class="font-large-1 mb-0">{{totalTransaksi|currency:"IDR ":"symbol"}}
                                    </h3>
                                    <span>Total Pendapatan</span>
                                </div>
                                <div class="media-right white text-right">
                                    <i class="fa fa-car font-large-1"></i>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
                            <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
                                [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                                [events]="WidgetlineChart.events">
                            </x-chartist>
                        </div> -->

                    </div>
                </div>
            </div>
            <button routerLink="/transaksi/travel/add" class="btn btn-primary btn-fab mt-2"><i class="ft ft-plus"></i>
                Tambah</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;'
                placeholder='Cari berdasarkan order id...' (keyup)='updateFilter($event)' />
            <ngx-datatable #table class='bootstrap fixed-row' [rows]='rows' [columns]="columns" [headerHeight]="150"
                [footerHeight]="50" [scrollbarH]="true" [rowHeight]="'auto'" [limit]="10" [columnMode]="'force'"
                [rows]='rows'>

                <ngx-datatable-column prop="idTrans" name="Order ID">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="customerName" name="Nama">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="departureDate" name="Tanggal Berangkat">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="departureTime" name="Waktu Berangkat">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="status" name="Status">
                    <ng-template let-value="value" ngx-datatable-cell-template>

                        <div *ngIf="value == 'pending'">
                            <span style="color: white;" class="badge badge-warning">{{value}}</span>
                        </div>
                        <div *ngIf="value == 'dibayar'">
                            <span class="badge badge-success">{{value}}</span>
                        </div>
                        <div *ngIf="value == 'dibatalkan'">
                            <span class="badge badge-danger">{{value}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Aksi" sortable="false" prop="_id">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <a [routerLink]="['invoice',value]"><button class="btn btn-success btn-fab mr-2">
                                <i class="fa fa-file"></i></button></a>
                        <a [routerLink]="['edit',value]"><button class="btn btn-warning btn-fab mr-2">
                                <i class="ft ft-edit"></i>
                            </button></a>

                        <button class="btn btn-danger btn-fab" (click)="onDelete(value)">
                            <i class="ft ft-trash"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->