<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <!-- <button (click)="testUsers()">Klik</button> -->
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">{{title}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Cari...'
                (keyup)='updateFilter($event)' />
            <ngx-datatable #table class='bootstrap' [columns]="columns" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

                <ngx-datatable-column prop="name" name="Nama">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Username">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="mobileNum" name="No HP">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="address" [width]="300" name="Alamat">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Aksi" sortable="false" prop="action">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        {{column.name}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <button class="btn btn-warning btn-fab mr-2" (click)="null">
                            <i class="ft ft-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-fab" (click)="null">
                            <i class="ft ft-trash"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->