#my-node {
    /* border: 2px solid rgba(28,110,164,0.53);
    border-radius: 28px; */
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
    background-color: #bd28d4;
        width: 40%;
        float: left;
        margin: auto;
    
    }
agm-map {
        height: 100px;
        
      }